<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Student Performance Predictor</h1>
        <p class="subtitle">Enter the following details to predict whether the student will pass or fail</p>
        <form action="/predict" method="post">
            <label>Study Hours (per day)</label>
            <input type="number" name="study_hours" required step="any" min="0" max="24">

            <label>Attendance(%)</label>
            <input type="number" name="attendance" required step="any" min="0" max="100">

            <label">Previous Score</label>
            <input type="number" name="previous_score" required step="any" min="0" max="100">

            <button type="submit">Predict</button>
        </form>
        {% if prediction_text %}
            <div class="result">
                {{ prediction_text }}
            </div>
        {% endif %}
    </div>
</body>
</html>